.introduce{
  width: 100%;
  .phone{
    border-top: 1px solid #d5d5d5;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
  }
  .email{
    height: 40px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    line-height: 40px;
    span{
      display: inline-block;
      width: 50%;
      text-align: center;
      border-left:1px solid #d5d5d5 ;
    }
  }
  .phone-bottom{
    width: 100%;
    height: 20px;
    .phone-bottom-top{
      display: block;
      height: 8.5px;
      border-bottom: 1px solid #d5d5d5;
    }
    .phone-bottom-bottom{
      display: block;
      background: #fcfcfc;
      height: 8.5px;
      border-bottom: 1px solid #d5d5d5;
    }
  }
  .phone-nub{
    width: 60%;
    margin-right: auto;
    margin-left:auto ;
    height: 45px;
    background: blueviolet;
  }
}
.fade-enter{
  opacity: .1;
}
.fade-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}
.fade-exit{
  opacity: 1;
}
.fade-exit-active{
  opacity: .1;
  transition: opacity 500ms ease-in-out;
}
