.sizes{
  width: 100%;
.size{
  border-top: 1px solid #d5d5d5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  span{
    margin-left: 10px;
    display: inline-block;
  }
  .icon {
     display: inline-block;
    i{
      margin-right: 10px;
      font-size: 22px;
    }

  }
}
  .chest{
    border-top: 1px solid #d5d5d5;
    padding: 0 10px ;
    p{
     color: #d5d5d5;
      font-size: small;
    }
  }
}