.content {
  .container {
    position: fixed;
    top: 80px;
    bottom: 50px;
    overflow: auto;
    h3 {
      color: red;
      font-size: 16px;
      text-align: center;
      margin: 5px 0;
    }
    .list-group {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 10px;
      text-align: center;
      text-decoration: none;
      width: 104%;
      a {
        margin: 5px 4px;
        width: 46%;
        background: #fff;
        height: 320px;
        .icon-gray-star {
          color: #ddd;
          margin-top: 9px;
          margin-left: 130px;
          &.active {
            color: #000;
          }
        }
        img {
          margin-top: 6px;
          width: 125px;
          height: 180px;
        }
        p {
          color: #222222;
          font-size: 13px;
          line-height: 22px;
          font-weight: bold;
          margin: 25px 45px 17px 0;
        }
        b {
          color: #222222;
          font-size: 13px;
          font-weight: normal;
          margin: 0 96px 35px 0;
        }
      }
    }
  }
}