.shopping {
    width: 100%;
    height: 50px;
    position: relative;
    border-bottom: 1px solid #d0d0d0;
}

.shopcarContent {
    width: 100%;
    position: fixed;
    top: 50px;
    bottom: 50px;
    overflow: auto;
}

.shopping .Synthesis {
    position: fixed;
    top: 50px;
    bottom: 50px;
    overflow: auto;
    width: 100%;
}

.shopping .one {
    width: 100%;
    height: 495px;
    margin-top: 10px;
}

.shopping .Code {
    width: 100%;
    height: 130px;
    padding-left: 30px;
    padding-top: 70px;
}

.shopping .Quote {
    width: 100%;
    padding-left: 30px;
    height: 130px;
}

.shopping .Addresss {
    position: absolute;
    right: 0;
    top: 180px;
    width: 80%;
    margin-right: 10%;
    height: 310px;
    border-radius: 20px;
}

.shopping .Aftermarket {
    width: 100%;
    height: 100px;
}

.shopping .FREE {
    width: 100%;
}

.shopping .Hesitate {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
}

.shopping .help {
    width: 100%;
}

.shopping .Customer {
    width: 100%;
    padding: 5px 0 20px 0;
}

.shopping .perfect {
    margin-top: 10px;
    width: 100%;
}

.shopping .iphone {
    width: 50%;
    height: 50px;
}

.shopping .email {
    width: 50%;
    height: 50px;
}

.shopping .Settle {
    display: inline-block;
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background-color: #00B0FF;
    position: fixed;
    left: 0;
    bottom: 0;
}