.btn {
    width: 100%;
    background: #fff;
    p {
      display: inline-block;
}
    button {
      outline: none;
      width: 60px;
      height: 25px;
      background: #fff;
      border: 1px solid lightgray;
      margin-left: 230px;
    }
  .menu-list{

    left:0;
    top:56px;
    width:100%;
    background-color: #fff;
    li{
      height:45px;
      width:100%;
      line-height: 45px;
      text-align: center;
      color:#000;
      border-top:1px solid #f5f5f5;
      &.active{
        color:green;
      }
    }
  }
  }

