.content-db{
  position: fixed;
  top: 40px;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow: auto;
  box-sizing: border-box;
  a{
    color: black;
  }
  .home-swipe-db {
    position: relative;
    height: 300px;
    border-bottom: 10px solid #f8f8f8;
    padding-bottom: 70px;
    .banner-user-text{
      padding: 0 20px 0px 20px;
      height: 300px;
    }
    .banner-anim {
      border: none;
      height: 260px;
    }
    .banner-user-title{
      height: 60px;
      font-size: 20px;
      line-height: 60px;

    }
  }
}

