.home-swipe {
  position: relative;
  height: 270px;
  border-bottom: 10px solid #f8f8f8;
  padding-bottom: 70px;
  .banner-user-text{
   padding: 0 20px 0px 20px;
    height: 300px;
  }
  .banner-anim {
    min-height: 100px;
    overflow:hidden ;
    border: none;
    height: 260px;
    position: relative;
  }
  .banner-anim-thumb-default{
    position: absolute;
    left: 0;
  }
  .banner-user-title{
    height: 60px;
    font-size: 20px;
    line-height: 60px;

  }
}
