.recommend{
  display: inline-block;
   width: 100%;
  .title{
    height: 30px;
    line-height: 30px;
     border-bottom: 1px solid #d5d5d5;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-reference{
      display: inline-block;
      height: 30px;
      line-height: 30px;
      font-weight: bold;
    }
    .title-all{
      display: inline-block;
      font-size:small;
      font-weight: normal;
    }
  }
  .goods-list{

   .goods-list-details{
     display: inline-block;
     width: 100%;
     border-bottom: 1px solid #d5d5d5;
     .list-details-lift{
       display: inline-block;
       width: 50%;
       height: 200px;
       img{
         width: 100%;
       }
       .details-left-title{
         font-size: small;
         text-align: center;
       }
       .details-left-price{
         text-align: center;
         color: #d5d5d5;
       }
     }
     .list-details-right{
       height: 200px;
       width: 50%;
       display: inline-block;
       img{
         width: 100%;
       }
       .details-right-title{
         font-size: small;
         text-align: center;
       }
       .details-right-price{
         text-align: center;
         color: #d5d5d5;
       }
     }
   }
  }
}