.home-main{
  font-size: 16px;
  color: black;
  font-weight: bold;
  border-bottom: 1px solid #E4E5E6;
  height: 40px;
  line-height: 40px;
  text-indent: 15px;
  padding-right: 10px;
  text-align: center;
  h6{
    font-size: 13px;
    font-weight: normal;
    float: right;
    color: black;
    margin-top: 10px;
    display: inline-block;
    span{
      font-size: 20px;
      color: black;
      margin-left: 5px;
    }
  }
  ul{
    float: left;
    margin-top: 10px;
    img{
      height: 150px;
      width: 160px;
    }
    li{
      float: left;
      width: 50%;
      text-align: center;
      P{
        text-align: center;
        margin-top: 10px;
        line-height: 20px;
      }
      span{
        font-size: 14px;
        line-height: 20px;
        font-weight: normal;
        color: #212223;
      }
    }
  }
}
