.home-header-db{
  width: 100%;
  position: fixed;
  height: 36px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #E4E5E6;
  display: flex;
  vertical-align: center;
  .hhh{
    margin: 0 auto;
    .home-logo-db{
      height: 35px;
      width: 140px;
    }
  }
  .home-gouwu-db{
        position: absolute;
        right: 13px;
        top: 10px;
        i{
          font-size: 16px;
        }
    a{
      color: #060606;

    }

      }
  .lload-db{

  }
  .loading-db{
    position: fixed;
    height: 670px;
    width: 375px;
    left: 0;
    top: 0;
    z-index: 999;
    display: none;
  }
}
