.home-header{
  width: 100%;
  position: fixed;
  height: 36px;
  top: 0;
  left: 0;
  border-bottom: 1px solid #f8f8f8;
  display: flex;
  .home-logo{
        height: 35px;
        width: 140px;
        position: absolute;
        top: 0;
        left: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  .home-gouwu{
        position: absolute;
        right: 13px;
        top: 10px;
      }
}
